name: CI for Pull Request
on:
  workflow_call:
    inputs:
      short_test:
        required: false
        type: string
      running_workflow:
        required: false
        type: string
      go_race:
        required: false
        type: string
      extra_env:
        required: false
        type: string
      install_tinygo:
        required: false
        type: string
    secrets:
      reporeading_token:
        required: true
      personal_token:
        required: false

jobs:
  pull-request-check:
    name: Pull request check
    runs-on: ubuntu-22.04
    steps:
      - name: Check if another PR workflow running and cancel it
        if: inputs.running_workflow != ''
        run: curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/cancelworkflow.sh | bash
        env:
          GH_TOKEN: ${{ secrets.personal_token }}
          repo: ${{ github.repository }}
          branch: ${{ github.event.pull_request.head.ref }}
          runningworkflow: ${{ inputs.running_workflow }}

      - name: Check pull request file size
        run: curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/checkPR.sh | bash
        env:
          token: ${{ secrets.reporeading_token }}
          pr_number: ${{ github.event.number }}

  CI:
    name: CI
    needs: pull-request-check
    uses: ./.github/workflows/ci.yml
    with:
      short_test: ${{ inputs.short_test }}
      running_workflow: ${{ inputs.running_workflow }}
      go_race: ${{ inputs.go_race }}
      extra_env: ${{ inputs.extra_env }}
      install_tinygo: ${{ inputs.install_tinygo }}
    secrets:
      reporeading_token: ${{ secrets.reporeading_token }}
      personal_token: ${{ secrets.personal_token }}
