name: CI - golang
on:
  workflow_call:
    inputs:
      ignore_copyright:
        required: false
        type: string
      test_folder:
        required: false
        type: string
      ignore_bp3:
        required: false
        type: string
      short_test:
        required: false
        type: string
      commit_name:
        required: false
        type: string
      go_race:
        required: false
        type: string
      ignore_build:
        required: false
        type: string
      test_subfolders:
        required: false
        type: string
      running_workflow:
        required: false
        type: string
      build_cmd:
        required: false
        type: string
      fiscal_vatnr:
        required: false
        type: string
      fiscal_caption:
        required: false
        type: string
      mode:
        required: false
        type: string
      extra_env:
        required: false
        type: string
    secrets:
      reporeading_token:
        required: true
      codecov_token:
        required: false
      personal_token:
        required: false

      # Secret multi-line KEY=VALUE pairs that will be written to $GITHUB_ENV
      # Need for the case when env var value should be take from a secret
      # Not supported by github e.g.:
      #   extra_env: |
      #     CHARGEBEE_SITE_NAME=\$\{{ secrets.CHARGEBEE_SITE_NAME }}
      # because `secrets` is not available in workflow call
      extra_env_from_secret:
        required: false

jobs:
  CI:
    name: CI
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout and Set Up Go
        id: go-setup
        uses: untillpro/ci-action/checkout-and-setup-go@main
        with:
          fetch_depth: ${{ inputs.mode == 'pr' && 0 || 1 }}
          ref: ${{ inputs.mode == 'pr' && github.event.pull_request.head.sha || github.ref }}

      - name: Install TinyGo
        if: inputs.mode != 'norebuild'
        run: |
          curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/install-tinygo.sh | bash -s "${{ steps.go-setup.outputs.go-version }}"

      - name: Codecov
        if: inputs.mode == 'norebuild'
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov

      - name: Apply extra env vars
        shell: bash
        run: |

          # Secret multi-line KEY=VALUE pairs (from caller)
          if [ -n "${{ secrets.extra_env_from_secret }}" ]; then
            printf '%s\n' "${{ secrets.extra_env_from_secret }}" >> "$GITHUB_ENV"
          fi

          # Non-secret multi-line KEY=VALUE pairs (from inputs.extra_env)
          if [ -n "${{ inputs.extra_env }}" ]; then
            printf '%s\n' "${{ inputs.extra_env }}" >> "$GITHUB_ENV"
          fi

          echo "GITHUB_ENV file: $GITHUB_ENV"

      - name: CI
        uses: untillpro/ci-action@main
        with:
          ignore: ${{ inputs.ignore_copyright }}
          test-folder: ${{ inputs.test_folder }}
          organization: "untillpro,heeus"
          token: ${{ secrets.reporeading_token }}
          codecov-token: ${{ secrets.codecov_token }}
          short-test: ${{ inputs.short_test }}
          ignore-build: ${{ inputs.ignore_build }}
          codecov-go-race: ${{ inputs.go_race }}
          run-mod-tidy: false

      - name: Test subfolders
        if: inputs.test_subfolders == 'true'
        run: |
          if [ "${{ inputs.short_test }}" == "true" || "${{ inputs.mode }}" = "pr" ]; then
            curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/test_subfolders.sh | bash -s short
          else
            curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/test_subfolders.sh | bash -s full
          fi

      - name: Copyright
        if: inputs.mode != 'cas' || inputs.build_cmd != ''
        run: curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/check_copyright.sh | bash -s

      - name: Linters
        if: inputs.mode != 'cas' && inputs.mode != 'norebuild'
        run: curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/run-linters.sh | bash -s
        env:
          testfolder: ${{ inputs.test_folder }}

      - name: Linters (norebuild)
        if: inputs.mode == 'norebuild'
        run: curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/run-linters.sh | bash -s
