name: CI - golang
on:
  workflow_call:
    inputs:
      ignore_copyright:
        required: false
        type: string
      test_folder:
        required: false
        type: string
      ignore_bp3:
        required: false
        type: string
      short_test:
        required: false
        type: string
      commit_name:
        required: false
        type: string
      go_race:
        required: false
        type: string
      ignore_build:
        required: false
        type: string
      test_subfolders:
        required: false
        type: string
      running_workflow:
        required: false
        type: string
      build_cmd:
        required: false
        type: string
      fiscal_vatnr:
        required: false
        type: string
      fiscal_caption:
        required: false
        type: string
      mode:
        required: false
        type: string
      extra_env:
        required: false
        type: string
      install_tinygo:
        required: false
        type: string
    secrets:
      reporeading_token:
        required: true
      codecov_token:
        required: false
      personal_token:
        required: false
      chargebee_token:
        required: false
      chargebee_sitename:
        required: false

jobs:
  CI:
    name: CI
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout and Set Up Go
        id: go-setup
        uses: untillpro/ci-action/checkout-and-setup-go@main
        with:
          fetch_depth: ${{ inputs.mode == 'pr' && 0 || 1 }}
          ref: ${{ inputs.mode == 'pr' && github.event.pull_request.head.sha || github.ref }}

      - name: Install TinyGo
        if: inputs.install_tinygo == 'true'
        run: |
          curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/install-tinygo.sh | bash -s "${{ steps.go-setup.outputs.go-version }}"

      - name: Codecov
        if: inputs.mode == 'norebuild'
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov

      - name: CI
        uses: untillpro/ci-action@main
        with:
          ignore: ${{ inputs.ignore_copyright }}
          test-folder: ${{ inputs.test_folder }}
          organization: "untillpro,heeus"
          token: ${{ secrets.reporeading_token }}
          codecov-token: ${{ secrets.codecov_token }}
          short-test: ${{ inputs.short_test }}
          ignore-build: ${{ inputs.ignore_build }}
          codecov-go-race: ${{ inputs.go_race }}
          run-mod-tidy: false
          extra_env: ${{ inputs.extra_env }}

      - name: Test subfolders
        if: inputs.test_subfolders == 'true'
        run: |
          if [ "${{ inputs.short_test }}" == "true" || "${{ inputs.mode }}" = "pr" ]; then
            curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/test_subfolders.sh | bash -s short
          else
            curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/test_subfolders.sh | bash -s full
          fi

      - name: Copyright
        if: inputs.mode != 'cas' || inputs.build_cmd != ''
        run: curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/check_copyright.sh | bash -s

      - name: Linters
        if: inputs.mode != 'cas' && inputs.mode != 'norebuild'
        run: curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/run-linters.sh | bash -s
        env:
          testfolder: ${{ inputs.test_folder }}

      - name: Linters (norebuild)
        if: inputs.mode == 'norebuild'
        run: curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/run-linters.sh | bash -s

      - name: Build executable
        if: inputs.mode == 'cas'
        run: |
          git config --global url."https://${{ secrets.REPOREADING_TOKEN }}:x-oauth-basic@github.com/heeus".insteadOf "https://github.com/heeus"
          git config --global url."https://${{ secrets.REPOREADING_TOKEN }}:x-oauth-basic@github.com/untillpro".insteadOf "https://github.com/untillpro"
          ${{ inputs.build_cmd }}
        env:
          GOPRIVATE: "github.com/untillpro/*,github.com/heeus/*"

      - name: Upload project
        if: inputs.mode == 'cas'
        uses: actions/upload-artifact@v4
        with:
          name: project-files
          path: .
          retention-days: 1
