name: CI - golang
on:
  workflow_call:
    inputs:
      ignore_copyright: # deprecated
        required: false
        type: string
      ignore_linter:
        required: false
        type: string
      test_folder: # deprecated
        required: false
        type: string
      short_test:
        required: false
        type: string
      ignore_build: # deprecated
        required: false
        type: string
      go_race:
        required: false
        type: string
      build_cmd: # deprecated
        required: false
        type: string
      extra_env:
        required: false
        type: string
      fiscal_vatnr:
        required: false
        type: string
      fiscal_caption:
        required: false
        type: string
      install_tinygo:
        required: false
        type: string
    secrets:
      reporeading_token:
        required: true
      codecov_token: # deprecated
        required: false
      chargebee_token: # deprecated
        required: false
      chargebee_sitename: # deprecated
        required: false
jobs:
  build:
    uses: ./.github/workflows/ci_reuse_go.yml
    with:
      short_test: ${{ inputs.short_test }}
      go_race: ${{ inputs.go_race }}
      build_cmd: ${{ inputs.build_cmd }}
      extra_env: ${{ inputs.extra_env }}
      install_tinygo: ${{ inputs.install_tinygo }}
    secrets:
      reporeading_token: ${{ secrets.reporeading_token }}
      codecov_token: ${{ secrets.codecov_token }} # deprecated
      chargebee_token: ${{ secrets.chargebee_token }} # deprecated
      chargebee_sitename: ${{ secrets.chargebee_sitename }} # deprecated
