name: CI - golang
on:
  workflow_call:
    inputs:
      ignore_copyright:
        required: false
        type: string
      ignore_linter:
        required: false
        type: string
      test_folder:
        required: false
        type: string
      short_test:
        required: false
        type: string
      ignore_build:
        required: false
        type: string
      go_race:
        required: false
        type: string
      build_cmd:
        required: false
        type: string
      extra_env:
        required: false
        type: string
      fiscal_vatnr:
        required: false
        type: string
      fiscal_caption:
        required: false
        type: string
      install_tinygo:
        required: false
        type: string
    secrets:
      reporeading_token:
        required: true
      codecov_token:
        required: false
      chargebee_token:
        required: true
      chargebee_sitename:
        required: true
jobs:
  build:
    uses: ./.github/workflows/ci_reuse_go.yml
    with:
      ignore_copyright: ${{ inputs.ignore_copyright }}
      test_folder: ${{ inputs.test_folder }}
      short_test: ${{ inputs.short_test }}
      ignore_build: ${{ inputs.ignore_build }}
      go_race: ${{ inputs.go_race }}
      build_cmd: ${{ inputs.build_cmd }}
      mode: cas
      extra_env: ${{ inputs.extra_env }}
      install_tinygo: ${{ inputs.install_tinygo }}
    secrets:
      reporeading_token: ${{ secrets.reporeading_token }}
      codecov_token: ${{ secrets.codecov_token }}
      chargebee_token: ${{ secrets.chargebee_token }}
      chargebee_sitename: ${{ secrets.chargebee_sitename }}
