name: CI - golang
on:
  workflow_call:
    inputs:
      ignore_copyright:
        required: false
        type: string
      test_folder:
        required: false
        type: string
      ignore_bp3:
        required: false
        type: string
      short_test:
        required: false
        type: string
      running_workflow:
        required: false
        type: string
      ignore_build:
        required: false
        type: string
      go_race:
        required: false
        type: string
      test_subfolders:
        required: false
        type: string
    secrets:
      reporeading_token:
        required: true
      codecov_token:
        required: true
      personal_token:
        required: true

jobs:
  build:
    uses: ./.github/workflows/ci_reuse_go.yml
    with:
      ignore_copyright: ${{ inputs.ignore_copyright }}
      test_folder: ${{ inputs.test_folder }}
      ignore_bp3: ${{ inputs.ignore_bp3 }}
      short_test: ${{ inputs.short_test }}
      running_workflow: ${{ inputs.running_workflow }}
      ignore_build: ${{ inputs.ignore_build }}
      go_race: ${{ inputs.go_race }}
      test_subfolders: ${{ inputs.test_subfolders }}
      mode: pr
    secrets:
      reporeading_token: ${{ secrets.reporeading_token }}
      codecov_token: ${{ secrets.codecov_token }}
      personal_token: ${{ secrets.personal_token }}
