name: CI - golang
on:
  workflow_call:
    inputs:
      ignore_copyright: # deprecated
        required: false
        type: string
      test_folder:
        required: false
        type: string
      ignore_build: # deprecated
        required: false
        type: string
      install_tinygo:
        required: false
        type: string
    secrets:
      reporeading_token:
        required: true
      codecov_token: # deprecated
        required: false

jobs:
  build:
    uses: ./.github/workflows/ci_reuse_go.yml
    with:
      test_folder: ${{ inputs.test_folder }}
      install_tinygo: ${{ inputs.install_tinygo }}
    secrets:
      reporeading_token: ${{ secrets.reporeading_token }}
      codecov_token: ${{ secrets.codecov_token }}
