name: CI - golang
on:
  workflow_call:
    inputs:
      commit_name:
        required: true
        type: string
    secrets:
      reporeading_token:
        required: true
      personal_token:
        required: true

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout and Setup go
      uses: untillpro/ci-action/checkout-and-setup-go@main

    - name: Rebuild airs-bp3
      run: |
        git config --global url."https://${{ secrets.reporeading_token }}:x-oauth-basic@github.com".insteadOf "https://github.com"
        curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/rebuild-test-bp3.sh | bash
      env:
        github_token: ${{ secrets.reporeading_token }}
        gh_event: ${{ github.event_name }}
        message: "voedger: ${{ inputs.commit_name }}"
        commit_user: "upload-robot"
        commit_email: "v.istratenko@dev.untill.com"

    - name: Push changes to pb3
      if: success()
      uses: ad-m/github-push-action@master
      with:
        directory: ../../${{ github.event.repository.name }}/airs-bp3
        repository: untillpro/airs-bp3
        branch: "main"
        github_token: ${{ secrets.personal_token }}
