name: CI - golang
on:
  workflow_call:
    inputs:
      ignore_copyright:
        required: false
        type: string
      ignore_linter:
        required: false
        type: string
      test_folder:
        required: false
        type: string
      short_test:
        required: false
        type: string
      ignore_build:
        required: false
        type: string
      go_race:
        required: false
        type: string
      build_cmd:
        required: false
        type: string
      fiscal_vatnr:
        required: false
        type: string
      fiscal_caption:
        required: false
        type: string
    secrets:
      reporeading_token:
        required: true
      codecov_token:
        required: false
      chargebee_token:
        required: true
      chargebee_sitename:
        required: true
jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'
        cache: false

    - name: Checkout
      uses: actions/checkout@v4

    # Install TinyGo
    - name: Install TinyGo
      run: |
        wget https://github.com/tinygo-org/tinygo/releases/download/v0.37.0/tinygo_0.37.0_amd64.deb
        sudo dpkg -i tinygo_0.37.0_amd64.deb

    - name: Check pull request file size
      if: github.event_name == 'pull_request'
      run: curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/checkPR.sh | bash
      env:
        token: ${{ secrets.reporeading_token }}
        pr_number: ${{ github.event.number }}

    - name: CI
      uses: untillpro/ci-action@main
      with:
        ignore: ${{ inputs.ignore_copyright }}
        codecov-go-race: ${{ inputs.go_race }}
        organization: 'untillpro,heeus'
        token: ${{ secrets.reporeading_token }}
        codecov-token: ${{ secrets.codecov_token }}
        short-test:  ${{ inputs.short_test }}
        ignore-build:  ${{ inputs.ignore_build }}
        run-mod-tidy: false
      env:
        CHARGEBEE_PUBLISHABLE_KEY: ${{ secrets.chargebee_token }}
        CHARGEBEE_SITE_NAME: ${{ secrets.chargebee_sitename }}
        FISCALCLOUD_TEST_GERMANY_VATNR: ${{ inputs.fiscal_vatnr }}
        FISCALCLOUD_TEST_GERMANY_CAPTION: ${{ inputs.fiscal_caption }}

    - name: Check copyright
      if: inputs.build_cmd != ''
      run: curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/check_copyright.sh | bash -s

#    - name: Linters
#      if: inputs.ignore_linter != ''
#      run: curl -s https://raw.githubusercontent.com/untillpro/ci-action/main/scripts/run-linters.sh | bash -s

    - name: Build executable
      run: |
        git config --global url."https://${{ secrets.REPOREADING_TOKEN }}:x-oauth-basic@github.com/heeus".insteadOf "https://github.com/heeus"
        git config --global url."https://${{ secrets.REPOREADING_TOKEN }}:x-oauth-basic@github.com/untillpro".insteadOf "https://github.com/untillpro"
        ${{ inputs.build_cmd }}
      env:
        GOPRIVATE: "github.com/untillpro/*,github.com/heeus/*"

    - name: Upload project
      uses: actions/upload-artifact@v4
      with:
        name: project-files
        path: .
        retention-days: 1
